# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# Static & build files
staticfiles/
static/
build/
dist/
node_modules/

# IDE & Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local environment
.env
